# Gradle
.gradle
**/build/
!src/**/build/
gradletasknamecache
!gradle-wrapper.jar
gradle-app.setting

# IntelliJ IDEA
.idea
*.iml
*.iws
out/

# Eclipse
.project
.classpath
.cproject
.settings/

# macOS
.DS_Store

# Windows
Thumbs.db